body{
    text-align: center;
    background-color: #876445;
    font-family: 'Roboto Mono', monospace;
}
h1{
    color: #F4DFBA
}
.game {
    display: grid;
    grid-template-columns: repeat( auto-fit, 100px );
    grid-auto-rows: 100px;
    grid-gap: 15px;
    justify-content: center;
    perspective: 800px;
    max-width: 500px;
    margin: 0 auto;
  }
  .card {
    font-size: 80px;
    color: #1b1104;
    background: #CA965C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 0 0 #333;
    cursor: pointer;
}
.card:hover{
    background-color: #EEC373;
    color:#8E806A;
    cursor: pointer;
    width: 105px;
    height: 105px;
}
.hidden{
    content-visibility: hidden;
}
.active{
    box-shadow: 5px 5px 0 0 #00FFC6;
    content-visibility: none;
}